html {
  --bg: #DDDDDD;
  --fg: #0F0E0E;
  --sb: #909a93;
  --sbh: #5f6260;
}
html.dark {
  --bg: #0F0E0E;
  --fg: #DDDDDD;
  --sb: #2C3333;
  --sbh: #3F4545;
}

.prose {
  color: var(--fg);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--sb);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--sbh);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: var(--bg);
}